.about_page {
    font-family: 'Montserrat', sans-serif;

    width: 100%;
    color: rgb(255, 255, 255);

    .about_video {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 145px;
    }
}
