.footer {
    width: 100%;
    height: fit-content;
    padding: 20px;

    color: #fff;
    background-color: #2b2b2b;

    .footer__inner {
        display: flex;
        align-items: center;
        justify-content: center;

        .footer__item {
            width: 30%;

            .item__inner {
                display: flex;
                flex-direction: column;

                .footer__link {
                    width: fit-content;
                }
            }
        }
    }

    .footer__logo {
        display: flex;
        justify-content: center;

        gap: 10px;
    }
}
